/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/inputField.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.inputField_container__g6Dab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: -webkit-fill-available;
}
.inputField_box__tRmCj {
  position: relative;
  width: -webkit-fill-available;
}
.inputField_box__tRmCj > label {
  position: absolute;
  font-size: var(--ft-400);
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: var(--title-color);
  background-color: var(--white-color);
  padding: 0 0.3rem;
  margin: 0 0.5rem;
  transition: 0.1s ease-out;
  transform-origin: left top;
  pointer-events: none;
}
.inputField_box__tRmCj > input {
  font-size: var(--ft-400);
  outline: none;
  border: 1px solid var(--black-color);
  border-radius: var(--br-400);
  padding: var(--pd-400) var(--pd-300);
  color: var(--title-color);
  transition: 0.1s ease-out;
  width: -webkit-fill-available;
}
.inputField_box__tRmCj > input:focus {
  border-color: var(--primary-color);
}
.inputField_box__tRmCj > input:focus + label {
  color: var(--primary-color);
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.inputField_box__tRmCj > input:not(:placeholder-shown) + label {
  top: 0;
  transform: translateY(-50%) scale(0.9);
}
.inputField_box__tRmCj > label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
.inputField_error__LDA6q {
  color: var(--light-warn-color);
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./src/styles/account/signin.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.signin_container__8IH6t {
  background: var(--background-color-account);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  padding: 2rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  min-height: 90vh;
}
.signin_box__RQGLq {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: -webkit-fill-available;
  border-radius: var(--br-600);
  box-shadow: var(--box-shadow-small-outset);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
  padding: var(--pd-600);
  flex-direction: row-reverse;
}
.signin_left__LybfW {
  background: var(--background-color);
  flex: 3 1;
  min-height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px 0px 0px 10px;
  width: 100%;
}
.signin_left__LybfW > img {
  width: 100%;
  object-fit: cover;
  border-radius: var(--br-600);
  box-shadow: var(--box-shadow-small-outset);
}
.signin_right__Ul_lZ {
  flex: 4 1;
  background-color: var(--bg-primary);
  min-height: inherit;
  border-radius: 0px 10px 10px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.signin_right_container__LdBo0 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem 3rem;
  width: -webkit-fill-available;
}

.signin_right_container__LdBo0 > h1 {
  padding: 0;
  margin: 0;
  color: var(--primary-color);
  font-size: var(--ft-600);
  text-align: center;
  width: -webkit-fill-available;
  font-weight: 600;
  text-transform: uppercase;
}
.signin_input_box__6dsoN {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  width: -webkit-fill-available;
  position: relative;
}
.signin_password__DbhvQ {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
.signin_openclosed__DY99B {
  position: absolute;
  right: 1rem;
  top: 45%;
  transform: translate(0%, -50%);
}
.signin_openclosed__DY99B > svg {
  color: var(--primary-color);
  font-size: var(--ft-600);
  cursor: pointer;
}
.signin_right_last__Zzv8V {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: -webkit-fill-available;
  padding: 0rem 3rem 2rem 3rem;
  align-items: center;
  justify-content: center;
}
.signin_button__CvVg5 {
  padding: 0;
  margin: 0;
  font-size: var(--ft-450);
  padding: 0.5rem 3rem;
  border-radius: var(--br-400);
  cursor: pointer;
  text-align: center;
  color: var(--white-color);
  background: var(--btn-color);
  border: 1.5px solid var(--btn-color);
  box-shadow: 0px 0px 5px 0px var(--box-shadow-radius);
  width: -webkit-fill-available;
  white-space: nowrap;
  transition: all 0.3s ease;
  text-transform: uppercase;
  position: relative;
}
.signin_button__CvVg5:hover {
  color: var(--white-color);
  background: var(--btn-hover-color);
  border: 1.5px solid var(--btn-hover-color);
}
.signin_spinner__P03UD {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -webkit-fill-available;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.signin_already-account__w3EV3 {
  font-size: var(--ft-400);
  color: var(--black-color);
  margin-top: 6px;
  font-weight: 500;
  display: flex;
}
.signin_already-account__w3EV3 > a {
  color: var(--primary-color);
  cursor: pointer;
  padding-left: 3px;
}
@media screen and (max-width: 1200px) {
  .signin_left__LybfW {
    flex: 4 1;
  }
  .signin_right__Ul_lZ {
    flex: 4 1;
  }
}
@media screen and (max-width: 800px) {
  .signin_left__LybfW {
    display: none;
    flex: 0 1;
  }
  .signin_right__Ul_lZ {
    flex: 1 1;
  }
  .signin_right_container__LdBo0 {
    padding: 1rem 2rem;
  }
  .signin_right_last__Zzv8V {
    padding: 1rem 2rem;
  }
}
@media screen and (max-width: 540px) {
  .signin_right_container__LdBo0 {
    padding: 1rem 1rem;
  }
  .signin_right_last__Zzv8V {
    padding: 1rem 1rem;
  }
  .signin_box__RQGLq {
    min-width: 95vw;
  }
  .signin_container__8IH6t {
    padding: 1rem;
  }
}

